#Hello {
        display: inline-block;
}
#changeLang {
        float: right;
        position: relative;
        background-color: rgba(0,0,0,0);
        border-radius: 100%;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-weight: bold;
        width: 32px;
        height: 32px;
        padding: 1px auto 2px auto!important;
}
#changeLang:focus{
  display:none;
}
#changeLang:hover {
        background-color: #0000ff;
        color: #fff;
}

.hint2 {
        border-bottom: 2px solid #111;
        font-weight: bold;
}
.hint2:hover {
        color: #fff;
        background-color: #0000ff;
        border-bottom: 2px solid #0000ff;
}

.kr {display: none;}


  @media only screen and (max-width:650px){
  #s1 {
    display: none;
  }
}

.popup{
  position: fixed;
  background-color: rgba(1, 1, 1, 0.15);
  top: 0;
  left: 0;
  width: 100vw;
  height:100vh;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.popup:target{
  opacity: 1;
  pointer-events: auto;
}

.popup__close-fullscreen{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
}

.popup__container {
  width:80%;
  max-width: 400px;
  height: auto;
  background: #f0f0f0;
  z-index: 20;
  padding: 2rem;
  color:#111;
}
@media only screen and (max-width:650px){
  .popup__container{padding:1rem;}
}

.popup__close-btn{
  font-size: 150%;
}

footer {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
