---
---

@charset "utf-8";

@import "00-base/normalize",
        "00-base/variables",
        "00-base/helpers",
        "00-base/animations",
        "00-base/mixins";

@import "01-atoms/media",
        "01-atoms/layout",
        "01-atoms/typography",
        "01-atoms/lists";

@import "02-molecules/nav.scss",
        "02-molecules/pagination.scss",
        "02-molecules/top-intro.scss";

@import "03-organisms/header",
        "03-organisms/footer",
        "03-organisms/work-list";

@import "04-templates/post";

#Hello {
        display: inline-block;
}

#changeLang {
        float: right;
        position: relative;
        background-color: rgba(0,0,0,0);
        border-radius: 100%;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-weight: bold;
        width: 32px;
        height: 32px;
        padding: 1px auto 2px auto;
}

#changeLang:hover {
        background-color: #0000ff;
        color: #fff;
}

.hint2 {
        border-bottom: 2px solid #111;
}

.hint2:hover {
        color: #fff;
        background-color: #0000ff;
        border-bottom: 2px solid #0000ff;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  bottom:20px
  left: auto;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}


.kr {
        display: none;
}


  @media only screen and (max-width:650px){
  #s1 {
    display: none;
  }
}
