---
---

@charset "utf-8";

@import "00-base/normalize",
        "00-base/variables",
        "00-base/helpers",
        "00-base/animations",
        "00-base/mixins";

@import "01-atoms/media",
        "01-atoms/layout",
        "01-atoms/typography",
        "01-atoms/lists";

@import "02-molecules/nav.scss",
        "02-molecules/pagination.scss",
        "02-molecules/top-intro.scss";

@import "03-organisms/header",
        "03-organisms/footer",
        "03-organisms/work-list";

@import "04-templates/post";

#Hello {
        display: inline-block;
}
#changeLang {
        float: right;
        position: relative;
        background-color: rgba(0,0,0,0);
        border-radius: 100%;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-weight: bold;
        width: 32px;
        height: 32px;
        padding: 1px auto 2px auto!important;
}
#changeLang:focus{
  display:none;
}
#changeLang:hover {
        background-color: #0000ff;
        color: #fff;
}

.hint2 {
        border-bottom: 2px solid #111;
        font-weight: bold;
}
.hint2:hover {
        color: #fff;
        background-color: #0000ff;
        border-bottom: 2px solid #0000ff;
}

.kr {display: none;}


  @media only screen and (max-width:650px){
  #s1 {
    display: none;
  }
}




.layer-wrap{
  position: fixed;
  background-color: rgba(1, 1, 1, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.layer-pop {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  z-index: 20;
  z-index: 20;
}

.layer-wrap:target{
  opacity: 1;
  pointer-events: auto;
}

.btn-popupClose{
  font-size: 150%;
}

footer {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
