---
---

@charset "utf-8";

@import "00-base/normalize",
        "00-base/variables",
        "00-base/helpers",
        "00-base/animations",
        "00-base/mixins";

@import "01-atoms/media",
        "01-atoms/layout",
        "01-atoms/typography",
        "01-atoms/lists";

@import "02-molecules/nav.scss",
        "02-molecules/pagination.scss",
        "02-molecules/top-intro.scss";

@import "03-organisms/header",
        "03-organisms/footer",
        "03-organisms/work-list";

@import "04-templates/post";

#Hello {
        display: inline-block;
}

#changeLang {
        float: right;
        position: relative;
        background-color: rgba(0,0,0,0);
        border-radius: 100%;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-weight: bold;
        width: 32px;
        height: 32px;
        padding: 1px auto 2px auto;
}

#changeLang:hover {
        background-color: #0000ff;
        color: #fff;
}

.hint2 {
        border-bottom: 2px solid #111;
}

.hint2:hover {
        color: #fff;
        background-color: #0000ff;
        border-bottom: 2px solid #0000ff;
}

.kr {
        display: none;
}


  @media only screen and (max-width:650px){
  #s1 {
    display: none;
  }
}



.layer-wrap {
  position: fixed;
  background-color: rgba(1, 1, 1, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.layer-wrap:target{
  opacity: 1;
  pointer-events: auto;
}


.popup-layer {
  display: inline-block;
  vertical-align: middle;
  width: 500px;
  height: auto;
  background-color: #fff;
  border: 5px solid #3571B5;
  z-index: 10;
  font-family:Tahoma;
}

  .popup-layer .pop-container {
    padding: 20px 25px;
  }

  .pop-layer .btn-r {
    width: 100%;
    margin: 10px 0 20px;
    padding-top: 10px;
    border-top: 1px solid #DDD;
    text-align: right;
  }

  a.btn-layerClose {
    display: inline-block;
    height: 25px;
    padding: 0 14px 0;
    border: 1px solid #304a8a;
    background-color: #3f5a9d;
    font-size: 13px;
    color: #fff;
    line-height: 25px;
  }
