---
layout: default
id: home
title: Portfolio
---

<head>
  <link rel="stylesheet" href="/css/intro.css">
</head>

<div class="container">
  <div class="top-intro">
    <div class="ts-measure">
      <h1 class="ts-headline flip">Hello.</h1>
      <p style="margin:0" ;>&nbsp;</p>
      <div class="kr">
        <p>안녕하세요. 디자이너 문홍규 입니다.</br>편견없이 다양한 분야에 종사하며, 사업 기획과 마케팅 역량강화에 힘썼습니다.</p>
        <p>현재 최고 관심사는 일용품日用品 디자인입니다.</br>하루하루 행복을 느끼는 일상을 만들고 싶습니다.</p>
        <p>🏆<span class="link-popup" onclick="location.href='#popup-kr-1'">수상이력 및 경력</span></p>
      </div>
    </div>
    <h2 class="section-title ts-strong"><span class="scroll-down">&#x02193; </span>Selected Projects</h2>
  </div>
  <!--kr popup start-->
  <div id="popup-kr-1" class="popup">
    <a href="#popup__close-fullscreen" class="popup__close-fullscreen">
      <div class="popup__container">
        <p>
          ‣ 워시블 서비스디자인 및 IR담당 <span class="popup__container-data">2019.11-2020.03</span></br>
          ‣ 개인 스튜디오 운영 <span class="popup__container-data">2018.05- </span></br>
          ‣ 원오원 아키텍트 제2인천공항 아트워크 프로젝트(jinnie seo) <span class="popup__container-data">2017.11-2018.03</span></br>
          ‣ 창업진흥원 창업성장기술개발사업 최종선정 <span class="popup__container-data">2017.09</span></br>
          ‣ 홍익대학교 실내건축 졸업 <span class="popup__container-data">2017.07</span></br>
          ‣ 성남산업진흥재단 창업경연대회 우승 <span class="popup__container-data">2017.06</span></br>
          ‣ 중기청, 창업진흥원 스마트창작터 데모데이 대상 <span class="popup__container-data">2017.04</span></br>
          ‣ IT스타트업 피아노 디자인 및 IR담당 <span class="popup__container-data">2017.01-2017.11</span></br>
          ‣ 스튜디오mm 인테리어 설계 및 시공 <span class="popup__container-data">2016.07-2016.12</span></br>
          ‣ 건축기사, 조경기사 취득 <span class="popup__container-data">2016.05</span></br>
          ‣ 신세계 프론티어 유통전략 공모전 우수상 <span class="popup__container-data">2014.11</span></br>
        </p>
      </div>
    </a>
  </div>
  <!--popup end-->

  <div class="work">
    <div class="work-list grid grid-d2-m1">
      {% for work in site.work reversed %}
      <div class="work-list-item grid-item {{ work.class }}">
        <a class="work-list-item-link" href="{{ work.url | relative_url }}"></a>
        <div class="work-list-item-media">
          <div class="work-list-item-background" style="background-color: {{ work.color }};"></div>
          <div class="work-list-item-media-inner"">
              <img class=" work-list-item-thumbnail lazyload" src="{{ work.cover | relative_url }}" />
        </div>
      </div>
      <div class="work-list-item-text">
        <h3 class="work-list-item-title fs-reset">{{ work.title }}</h3>
        <small class="work-list-item-type">{{ work.description }}</small>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% include footer.html %}
</div>
